p.skill_name {
  font-weight: bold;

  position: relative;
  display: inline-block;
  padding-left: 12px;
}

p.skill_name::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-top: 2px solid #85e9f7;
  border-right: 2px solid #85e9f7;
  transform: rotate(45deg);
  top: 5px;
  left: 0;
}

.status_name {
  display: inline-block;
  font-weight: 750;
  width: 120px;
}

.status_box {
  display: flex;
  flex-wrap: wrap;
  width: 540px;
}

.profile_name {
  display: inline-block;
  font-weight: 750;
  width: 95px;
}

.profile_value {
  display: inline-block;
  width: 250px;
}

.character_picture {
  height: 700px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.skill_header {
  display: inline-block;
  width: 150px;
}